body {
  background: skyblue;
  margin: 0;
}
///////// HEADER ////////////////////////////////
header {
  height: 11%;
  background-color: white;
  margin: 40px;
  h1 {
    margin: 0;
    color: black;
    text-align: center;
  }
}
///////// MAIN LAYOUT AND GAME WINDOW ////////////
main {
  width: 670px;
  margin: 100px auto;
}

div.gameWindow {
  background-color: white;
  margin: 0px auto;
  text-align: center;
  height: 540px;
  width: 660px;
  background-color: #74A4BC;
  border: 5px solid #000fff;
  position: relative;
}

div.mouseBox {
  background-color: #fff;
  height: 537px;
  width: 50px;
  float: right;
}

section {
  background-color: white;
  padding: 20px 0;
}

div.scoreboard {
  float: left;
  padding-left: 20px;
  margin: 0;
}

div.lives {
  float: right;
  padding-right: 20px;
  margin: 0;
}

p {
  margin: 0;
}
//////////// GAME BLOCKS ///////////////////////
div.blockOne {
    // background-color: #fff;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCLkHw0ctACyQOIl7O3-CBOtMNBD4264AOEK62GEGTT1vhJ7THYg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 70px;
    height: 70px;
    position: absolute;
    left: 15%;
    border-radius: 20px
}

div.blockTwo {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCLkHw0ctACyQOIl7O3-CBOtMNBD4264AOEK62GEGTT1vhJ7THYg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 60px;
    height: 60px;
    position: absolute;
    left: 40%;
    border-radius: 16px;
}

div.blockThree {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCLkHw0ctACyQOIl7O3-CBOtMNBD4264AOEK62GEGTT1vhJ7THYg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 65%;
    border-radius: 14px;
}

.stage-one {
  animation: move-vertical 4.35s infinite;
}

.stage-two {
  animation: move-vertical 2.35s infinite;
}

.stage-three {
  animation: move-vertical 1.5s infinite;
}
//////////// FOOTER ////////////////////////////
footer {
  height: 11%;
  background-color: white;
  margin: 40px;
  h1 {
    margin: 0;
    color: black;
    text-align: center;
  }
}

@keyframes move-vertical {
  0%   { top: 0; }
  20%  { top: calc(100% - 50px); }
  100% { top: 0; }
}
